#This will start GAL in a dedicated X session on virtual terminal 2.

[Unit]
Description=Game Station
After=rc-local.service

[Service]
ExecStartPre=/usr/sbin/service pad-listener stop
ExecStart=/usr/bin/xinit [PWD]/launch.sh -- :1 vt2
ExecStop=/usr/bin/killall xinit
ExecStopPost=/usr/sbin/service pad-listener start
Restart=always
RemainAfterExit=yes
